.red-clr {
  background: #ff3f34 !important;
  color: #ecf0f1 !important;
}

.green-clr {
  background: #2ecc71 !important;
  color: #2c3e50 !important;
}

.yellow-clr {
  background: #ffd32a !important;
  color: #2c3e50 !important;
}

.blue-clr {
  background: #3498db !important;
  color: #ecf0f1 !important;
}

.snackbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -40px;
  background: #ecf0f1;
}

.snackbar a {
  text-decoration: none;
  color: inherit;
  padding: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
}

@media (max-width: 767px) {
  .snackbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
}

@media (min-width: 768px) {
  .snackbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }  
}
